In [9]:
import pandas as pd
import os

pd.set_option('display.max_columns', None)

In [10]:
print(os.getcwd())
os.chdir('/Users/yannickflores/Perso Project/foreshadownba/foreshadwownba-dvc-data-pipeline')
os.getcwd()

/Users/yannickflores/Perso Project/foreshadownba/foreshadwownba-dvc-data-pipeline

'/Users/yannickflores/Perso Project/foreshadownba/foreshadwownba-dvc-data-pipeline'

In [11]:
nba_games_training_dataset = pd.read_csv('./data/input/nba_games_training_dataset.csv')
nba_games_training_dataset.head()

,id_season,game_nb,game_date,extdom,tm,opp,results,pts_tm,pts_opp,fg_tm,fga_tm,fg_prct_tm,3p_tm,3pa_tm,3p_prct_tm,ft_tm,fta_tm,ft_prct_tm,orb_tm,trb_tm,ast_tm,stl_tm,blk_tm,tov_tm,pf_tm,fg_opp,fga_opp,fg_prct_opp,3p_opp,3pa_opp,3p_prct_opp,ft_opp,fta_opp,ft_prct_opp,orb_opp,trb_opp,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,time_start,overtime,w_tot,l_tot,streak_w_l,id
0,2015,71,2015-03-25,ext,IND,WAS,W,103,101,38,85,0.447,9,26,0.346,18,28,0.643,9,43,21,7,2,10,23,33,75,0.440,5,14,0.357,30,38,0.789,6,46,13,6,4,10,23,7:00p,NaN,31.0,40.0,W 1,2015-03-25_IND_WAS
1,2015,72,2015-03-26,ext,IND,MIL,L,107,111,30,71,0.423,14,30,0.467,33,43,0.767,12,41,18,7,4,19,28,39,73,0.534,9,19,0.474,24,34,0.706,6,30,26,10,3,16,34,8:00p,NaN,31.0,41.0,L 1,2015-03-26_IND_MIL
2,2015,73,2015-03-29,dom,IND,DAL,W,104,99,38,76,0.500,10,17,0.588,18,26,0.692,4,43,23,6,6,15,25,40,90,0.444,6,15,0.400,13,19,0.684,9,41,20,5,3,12,25,7:00p,NaN,32.0,41.0,W 1,2015-03-29_DAL_IND
3,2015,74,2015-03-31,ext,IND,BRK,L,106,111,37,82,0.451,12,23,0.522,20,24,0.833,6,37,23,3,6,10,22,40,80,0.500,9,18,0.500,22,28,0.786,6,41,25,5,3,7,23,7:30p,NaN,32.0,42.0,L 1,2015-03-31_IND_BRK
4,2015,75,2015-04-01,ext,IND,BOS,L,87,100,34,81,0.420,6,15,0.400,13,23,0.565,8,39,17,5,3,12,20,39,86,0.453,6,27,0.222,16,18,0.889,7,46,29,9,2,10,23,7:30p,NaN,32.0,43.0,L 2,2015-04-01_IND_BOS